//months.scss

$m1: #7c59c1;
$m2: #42a5f6;
$m3: #26c7db;
$m4: #26a59a;
$m5: #66bb6a;
$m6: #9ccc66;
$m7: #d4e056;
$m8: #ffc928;
$m9: #fea726;
$m10: #ff7143;
$m11: #ee534f;
$m12: #ab46bc;

$tc: white;

.mbg1{
    background-color: $m1;
    color: $tc;
}

.mbg2{
    background-color: $m2;
    color: $tc;
}

.mbg3{
    background-color: $m3;
    color: $tc;
}
.mbg4{
    background-color: $m4;
    color: $tc;
}
.mbg5{
    background-color: $m5;
    color: $tc;
}
.mbg6{
    background-color: $m6;
    color: $tc;
}
.mbg7{
    background-color: $m7;
    color: $tc;
}
.mbg8{
    background-color: $m8;
    color: $tc;
}
.mbg9{
    background-color: $m9;
    color: $tc;
}
.mbg10{
    background-color: $m10;
    color: $tc;
}
.mbg11{
    background-color: $m11;
    color: $tc;
}
.mbg12{
    background-color: $m12;
    color: $tc;
}