<script charset="utf-8" type="text/javascript">
    window.TP_FORM_SETTINGS = window.TP_FORM_SETTINGS || {};
    window.TP_FORM_SETTINGS["9ae1540785f501161f16e9960747a23b"] = {
    "handle": "9ae1540785f501161f16e9960747a23b",
    "widget_name": "UB FORM",
    "border_radius": "8",
    "additional_marker": "ubform",
    "width": null,
    "show_logo": true,
    "show_hotels": true,
    "form_type": "avia_hotel",
    "locale": "ru",
    "currency": "rub",
    "sizes": "default",
    "search_target": "_self",
    "active_tab": "avia",
    "search_host": "hydra.aviasales.ru",
    "hotels_host": "hotellook.ru/search",
    "hotel": "",
    "hotel_alt": "",
    "avia_alt": "",
    "retargeting": true,
    "trip_class": "economy",
    "depart_date": null,
    "return_date": null,
    "check_in_date": null,
    "check_out_date": null,
    "id": 107656,
    "marker": "14721.ubform",
    "origin": {
        "name": "Москва",
        "iata": "MOW"
    },
    "destination": {
        "name": "Санкт-Петербург",
        "iata": "LED"
    },
    "color_scheme": {
        "name": "green",
        "icons": "icons_white",
        "background": "#218d73",
        "color": "#ffffff",
        "border_color": "#05513f",
        "button": "#ffffff",
        "button_text_color": "#444444",
        "input_border": "#05513f"
    },
    "hotels_type": "hotellook_host",
    "best_offer": {
        "locale": "ru",
        "currency": "rub",
        "marker": "14721.ubform",
        "search_host": "hydra.aviasales.ru",
        "offers_switch": true,
        "api_url": "//www.travelpayouts.com/minimal_prices/offers.json",
        "routes": [
            {
                "one_way": false,
                "origin": {
                    "name": ""
                },
                "destination": {
                    "name": ""
                }
            }
        ]
    },
    "hotel_logo_host": "hotellook.ru",
    "search_logo_host": "www.aviasales.ru",
    "hotel_marker_format": "marker=",
    "hotelscombined_marker": null,
    "responsive": true,
    "height": 305
};
</script>
<script charset="utf-8" src="//www.travelpayouts.com/widgets/9ae1540785f501161f16e9960747a23b.js?v=1003" async></script>
