{% extends 'enot_app/base.html' %}
{% load staticfiles %}

{% block head %}
{{ block.super }}

<title>Улётные билеты</title>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <!-- <div id="el"></div> -->
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 plate" >
            <h1>Лучшие предложения по авиабилетам из&nbsp;Москвы</h1>
            <p>Улётные билеты — это самые интересные предложения по авиаперелетам из Москвы туда и обратно, найденные с&nbsp;помощью изощренного искуственного интеллекта и&nbsp;кропотливого ручного труда. Каждый день мы просматриваем тысячи предложений и&nbsp;отбираем самые лучшие с&nbsp;учетом не&nbsp;только цены, но&nbsp;и&nbsp;множества других факторов, таких как рейтинг авиакомпании, модель самолета и&nbsp;времена стыковок.</p>
            <p class="group-links">
                <a href="https://www.facebook.com/uletbilet/">Страница в Facebook</a>
                <a href="https://vk.com/club122893589">Группа в VK</a>
            </p>
            <h2>Присоединяйтесь, не пропустите свой Улётный&nbsp;Билет! :)</h2>
        </div>

    </div>

</div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
    <!--<script src ="{% static 'js/components.js' %}" type="text/javascript"></script>-->
    <!--<script src ="{% static 'js/main.js' %}" type="text/javascript"></script>-->
{% endblock %}