{% extends 'enot_app/base_letter.html' %}

{% load my_filters %}


{% block title %}
Улётные Билеты
{% endblock %}

{% block content %}
<h1>Улётные билеты</h1>
<div>
<!--     <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
      <tbody>
        <tr>
          <td align="right">
            <table border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td> <a href="http://htmlemail.io" target="_blank">32000р</a> </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table> -->
</div>
{% for t in trips %}

<div style="margin-bottom: 1em">
<!--     {% if debug %}
        R: {{t.rating}} > E:{{t.rt_eff}} C:{{t.rt_comfort}} - P:{{t.rt_price}}
    {% endif %} -->
    <h2>{{ t.destination.name }}, {{t.destination.place.gcountry.rus_name}}: {{t.price}}<span style="font-size:60%">&#8381;</span></h2>
        <div style="padding-left: .5em; border-width: 0 0 0 1px; border-color: gray; border-style: solid">
        <!-- {{ t.departure|date:"d E(D)" }} -->
        <div><strong>
        {{ t.departure|date:"d E" }} - {{ t.arrival|date:"d E" }}
        </strong>
        </div>
        {{t.get_hd.days_text}}
        {% for n in t.chd_days|create_range %}
        <div style="width:5px; height:10px; background-color: blue; display:inline-block; margin-left:-2px"></div>
        {% endfor %}
        <div>
            {{t.get_hd.carriers}}
<!--             {% for c in t.get_hd.carriers %}
                {{c.name}}
                {% if forloop.last %}
                {% else %}
                    /
                {% endif %}
            {% endfor %} -->
        </div>
        Вылет {{t.days_to_text}} из {{t.get_origin_airport_name}}
    </div>

    {% for b in t.get_hd.benefits %}
        {% if b.show %}
            <div style="color:green">+{{b.message }}</div>
        {% endif %}
    {% endfor %}
    {% for b in t.get_hd.penalties %}
        {% if b.show %}
            <div style="color:red">-{{b.message }}</div>
        {% endif %}
    {% endfor %}
 
<!--     {% for sl in t.get_slices %}
        {% for s in sl.segments %}
            {% for l in s.legs %}
                <p>{{l.origin}} -> {{l.destination}}</p>
            {% endfor %}
        {% endfor %}
        ...
    {% endfor %} -->

    <a href="#">Найти на Aviasales >>></a>



</div>
{% endfor %}
{% endblock %}

{% block footer %}
(C) footer 2017
{% endblock %}


<!--     <h2>
        {{forloop.counter}}: {{ t.destination.name }}, {{t.destination.place.gcountry.rus_name}}:
         {{t.price}}<span style="font-size:60%">&#8381;</span>
    </h2>
    <div style="padding-left: .5em">
        {{t.days_text}} 
        {% for n in t.chd_days|create_range %}
        <div style="width:5px; height:10px; background-color: blue; display:inline-block; margin-left:-2px"></div>
        {% endfor %}
        <div>
        {{ t.departure|date:"d E(D)" }} -> {{ t.arrival|date:"d E(D)" }} | {{t.days_to_text}}
        </div>
        <div>
            {% for c in t.get_carriers %}
                {{c}}
                {% if forloop.last %}
                {% else %}
                    /
                {% endif %}
            {% endfor %}из {{t.get_origin_airport_name}}
        </div>
    </div>-->

